//====================================================================================================
.main {
	position: relative;
	@include adaptiveValue("margin-top", -140, -100);
	@include adaptiveValue("padding-top", 240, 150);
	@include adaptiveValue("padding-bottom", 400, 10);
	color: #fff;
	text-align: center;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 48px;
		bottom: -44px;
		left: 0;
		background: url(../img/main/reg.svg) center center no-repeat;
	}

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 48px;
		bottom: -44px;
		left: 0;
		background: url(../img/icon/arrow-bottom.svg) center center no-repeat;
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -2;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__container {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 840px;
			top: 50%;
			right: 0;
			transform: translateY(-32%);
			background: url(../img/main/main-1.png) center right no-repeat;
			z-index: -1;
			background-size: contain;

			@media (max-width:$tablet) {
				display: none;
			}
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__left {
		flex: 0 1 65%;

		@media (max-width:$tablet) {
			flex: 1 1 100%;
		}
	}

	&__left-title {
		font-weight: 700;
		@include adaptiveValue("font-size", 45, 26);
		line-height: 125.9%;
		text-align: center;
		@include adaptiveValue("margin-bottom", 26, 15);
	}

	&__left-subtitle {
		font-weight: 600;
		font-size: 20px;
		line-height: math.div(24, 20);
		@include adaptiveValue("margin-bottom", 26, 15);
	}

	&__left-icons {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		@media (max-width:$mobile) {
			margin: 30px 0 20px 0;
		}
	}

	&__left-btn {}

	&__right {}
}

.left {

	&__icons {}

	&__icons-item {
		position: relative;
		display: flex;
		align-items: center;
		z-index: 1;
		@include adaptiveValue("margin-bottom", 26, 15);

		@media (max-width:$tablet) {
			flex: 0 1 45%;
			justify-content: center;
		}

		@media (max-width:$mobile) {
			flex: 1 1 48%;
		}

		&:before {
			content: '';
			border: 15px solid #FFFFFF;
			filter: blur(25px);
			transform: rotate(0.34deg);
			position: absolute;
			top: 0;
			left: 0;
		}

		&:not(:last-child) {
			margin-right: 20px;

			@media (max-width:$mobile) {
				margin-right: 5px;
			}
		}

	}
}

.icons-item {

	&__img {
		width: 45px;
		height: 45px;
		margin-right: 7px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__text {
		max-width: 120px;
		text-align: left;
		font-weight: 700;
		font-size: 15px;
		line-height: math.div(18, 15);
	}
}

// advatage ====================================================================================================
.advatage {
	position: relative;
	@include adaptiveValue("margin-top", 100, 40);
	@include adaptiveValue("margin-bottom", 80, 30);
	z-index: 1;

	&::before {
		content: '';
		position: absolute;
		width: 1125px;
		height: 100%;
		top: 0;
		left: 0;
		background: url(../img/advatage/advatage-bg.png) center left no-repeat;
		z-index: -1;

		@media (max-width:$mobile) {
			opacity: 0.1;
		}
	}

	&__row {
		display: flex;
		column-gap: 20px;
		justify-content: space-between;
		flex-wrap: wrap;

		@media (max-width:$mobile) {
			column-gap: 0;
		}

		@media (max-width:$tablet) {
			justify-content: center;
		}
	}

	&__card {
		flex: 0 1 30%;

		@media (max-width:$tablet) {
			flex: 0 1 40%;
			margin-bottom: 40px;
		}

		@media (max-width:$mobile) {
			flex: 1 1 100%;
		}
	}

	&__card-img {
		position: relative;
		border-radius: 10px;
		max-width: rem(450);
		@include adaptiveValue("margin-bottom", 37, 25);
		filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
		transition: all 0.3s ease 0s;

		@media (max-width:$mobile) {
			margin: auto;
		}

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: -50%;
			left: 50%;
			transform: translateX(-50%);
			background: url(../img/advatage/advatage-icon-1.png) center center no-repeat;
		}

		&:hover {
			filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
		}

		img {
			width: 100%;
			border-radius: 10px;
		}
	}

	&__card-content {
		text-align: center;
		margin-top: 70px;
	}

	&__card-title {
		font-weight: 800;
		@include adaptiveValue("font-size", 20, 18);
		line-height: math.div(24, 20);
		margin-bottom: 9px;
	}

	&__card-text {
		font-weight: 500;
		@include adaptiveValue("font-size", 17, 14);
		line-height: math.div(21, 17);
	}
}

//========================================================================================================================================================
.brez {
	position: relative;
	@include adaptiveValue("margin-top", 100, 40);
	@include adaptiveValue("margin-bottom", 80, 30);

	&__bg {
		position: absolute;
		width: 299px;
		top: 0;
		right: -100px;

		@media (max-width: em(1592)) {
			width: 15%;
		}

		@media (max-width:$tablet) {
			display: none;
		}

		img {
			width: 100%;
		}
	}

	&__row {
		display: flex;
		align-items: center;
		column-gap: 10px;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__left {
		flex: 0 1 40%;

		@media (max-width:$tablet) {
			flex: 0 1 100%;
			margin-bottom: 30px;
		}
	}

	&__right {
		flex: 0 1 55%;
		z-index: 5;

		@media (max-width:$tablet) {
			flex: 1 1 100%;
		}
	}

	&__right-item {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		img {
			max-width: 50px;

			@media (max-width:$mobile) {
				width: 30px;
			}

			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}

	&__right-content {
		font-weight: 500;
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(20, 16);
		color: #000000;

		span {
			display: block;
			position: relative;
			margin-left: 20px;
			z-index: 5;

			&:not(:last-child) {
				margin-bottom: 10px;
			}

			&::before {
				content: '';
				position: absolute;
				width: 15px;
				height: 15px;
				background: #575757;
				border-radius: 50%;
				top: 2px;
				left: -20px;
			}
		}

	}
}

//========================================================================================================================================================
.product {
	position: relative;
	@include adaptiveValue("padding-top", 100, 40);
	@include adaptiveValue("padding-bottom", 80, 30);

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__title {
		margin-bottom: 70px;
	}

	&::after {
		content: '';
		position: absolute;
		width: 248.08px;
		height: 100%;
		top: 0;
		right: 0;
		background: url(../img/product/product-after.png) right center no-repeat;
		z-index: 1;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		column-gap: 20px;
		row-gap: 50px;
		z-index: 2;
	}

	&__card {
		flex: 0 1 48%;
		background: #FFFFFF;
		box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.4);
		border-radius: 20px;
		z-index: 2;

		@media (max-width: em(1221)) {
			flex: 1 1 100%;
		}
	}
}

.card {
	position: relative;

	&__label {
		z-index: 2;
		position: absolute;
		width: 75px;
		height: 75px;
		top: -35px;
		right: -35px;

		@media (max-width:$mobile) {
			right: -10px;
		}

	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 25px;

		@media (max-width:$mobile) {
			flex-wrap: wrap;
		}
	}

	&__icons {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		align-self: flex-start;

		span {
			font-weight: 700;
			font-size: 14px;

			&:last-child {
				width: 70px;
			}

			&:not(:last-child) {
				margin-bottom: 10px;
			}

			img {
				width: 30px;
				height: 30px;
			}
		}
	}

	&__img {
		display: block;
		width: 166px;
		height: 216px;
		margin: 0 auto;

		@media (max-width:$mobile) {
			margin-bottom: 30px;
			height: auto;
			margin: auto;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__content {
		text-align: center;
		margin-left: 15px;
	}

	&__content-title {
		max-width: 270px;
		margin: auto;
		font-weight: 800;
		font-size: 15px;
		line-height: math.div(18, 15);
		margin-bottom: 8px;

		@media (max-width:$mobile) {
			max-width: none;
			text-align: center;
			margin-top: 20px;
		}

		span {
			color: #ED7413;
		}
	}

	&__content-text {
		max-width: 380px;
		min-height: 211px;
		text-align: left;
		font-weight: 400;
		font-size: 13px;
		line-height: math.div(16, 13);
		color: #000000;

		@media (max-width:$mobile) {
			min-height: 0;
		}

		& span {
			&:not(:last-child) {
				display: block;
				margin-bottom: 7px;
			}
		}
	}

	&__line {
		width: 100%;
		background-color: #C9C9C9;
		height: 1px;
		margin-bottom: 22px;
	}

	&__btn {
		display: block;
		width: 320px;
		text-align: center;
		margin: 0 auto;
		font-weight: 700;
		font-size: 15px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 25px;
	}
}

//========================================================================================================================================================
.air {
	position: relative;
	@include adaptiveValue("margin-top", 100, 40);
	@include adaptiveValue("margin-bottom", 80, 30);

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		z-index: -1;

		img {
			width: 100%;
			// height: 100%;
		}
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__left {
		flex: 0 1 40%;
		position: relative;

		&-img {
			position: absolute;
			// width: 100%;
			// height: 100%;
			top: 50%;
			left: 0;
		}
	}

	&__right {
		flex: 0 1 55%;
		color: #FFFFFF;
		font-weight: 800;
	}

	&__right-text {
		@include adaptiveValue("font-size", 30, 20);
		line-height: math.div(37, 30);
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	&__right-subtitle {
		@include adaptiveValue("font-size", 30, 20);
		line-height: math.div(37, 30);
		margin-bottom: 25px;
	}

	&__right-title {
		font-size: 50px;
		@include adaptiveValue("font-size", 50, 36);
		line-height: math.div(61, 50);
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	&__right-btn {}
}